.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
  width: 100%;
  margin: auto;
}

.heading {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .container {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 30%;
  }
}
