/* 
Min-width: 320px (smaller phone viewpoints)
Min-width: 480px (small devices and most phones)
Min-width: 768px (most tablets)
Min-width: 992px (smaller desktop viewpoints)
Min-width: 1200px (large devices and wide screens) 
*/

:root {
  /* https://color.adobe.com/ne-jinx-color-theme-19187755/ */
  --foreground: #171717;
  --accent: #a63f8a;
  --darkAccent: #401c33;
  --lightAccent: #30588c;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  max-width: 90vw;
  overflow-x: hidden;
  margin: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-inline-size: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: 2em;
}

@media (min-width: 576px) {
  h1 {
    font-size: 3em;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
