.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border: solid 1px var(--darkAccent);
  border-radius: 69px;
  height: 64px;
  gap: 40px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 8px;
  padding: 0 16px;
}

.navContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 64%;
  width: 64px;
  border-radius: 8px;
}

.navContainer a:hover {
  background-color: var(--darkAccent);
}
