.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.container h2 {
  margin-bottom: 32px;
  border-bottom: solid 1px var(--lightAccent);
}

.techContainer {
  display: flex;
  justify-content: center;
}

.item {
  border: solid 1px var(--darkAccent);
  padding: 12px;
  margin: 0 4px;
  border-radius: 8px;
}
